/* 폰트 자동 로드 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');

/* 나눔스퀘어라운드 폰트 (백업용 - JavaScript에서도 로드) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 기본 폰트 설정 - JavaScript에서 동적으로 적용됨 */
body {
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

